/* this makes sure our LOGO DOES NOT squish the SELECTIONS on the right hand side */
/* .navbar-brand {
  width:50%;
  
} */
/* Found a technique where instead of adjusting width of navbar-brand, we ADD a DIV and give THAT a width of 50% */


/* remeber to set an overall body css */

/* BEST PRACTICE. WHAT ELSE SHOULD BE IN BODY? */

/*  font-family: ;
    text-align: ;
    font-size: ; */



/* 1st section w/ main  photo */

.mainPhoto1 {
  background-image: url(images/mainPhoto1.jpg);
  height: 80em; /* without height, image does not appear*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 1st section w/ main  photo */
/* Section with second main photo */

.moreAboutUsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.moreAboutUs-img-cont img {
  width:100%;
  object-fit: cover;
}

/* Section with second main photo */
/* Section for Premiere Choice features */

.premierChoiceFeaturesRow {
  /* This choice focuses on flow */

  display:flex;
  justify-content: space-between;

  /* This choice focuses on placement */
  /* display:grid;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem; */
 
}

/* Section for Premiere Choice features */
/* Services Sections */

.servicesRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.servicesList {
  background-image:  url(images/Interior.jpg); 
  background-size: cover;
  height: 35em;
  background-position: center;
}

/* Services Sections */
/* Reviews Section */

.reviewsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

/* Reviews Section */














/* Contact Section */
/* SPLIT BETWEEN LEFT PORTION AND RIGHT PORTION (of SCREEN) */
/* #contact{
  background-color: #1e1e1e;
  color: white;
} */

#contactMain{
  background-color: #1e1e1e;
  color: white;
}

.contactRows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}


/* Contact Section */


.containerForMarginControLeft{
  margin: 80px 25% 80px 15%;
}





/*NOTE THAT THIS WAY TO MAKE 'GRID' is MORE helpul when you have to make MORE than two columns*/
/* 
.formContainer {        
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
} 
*/
/* SEE ABOVE */         /*JUST TWO COLUMNS*/
.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 0 20px; */
}

.containerForMarginControl{
  margin: 80px 25% 80px 15%;
}


.formField{             /* To set overall space available for ELEMENTS inside.. 'subject' and 'message' */
  width:100%;
}
.formField > input {    /* To FILL space SET by 'formField'  .... 'subject' */
  width: 100%;
}
.formField > textarea { /* To FILL space SET by 'formField'  .... 'message' */   
  width: 100%;
}



/* #contact > div.contactRows > div.rightContent > div > form > div > div > label */
div > label {  /* GLOBAL */
  float: right;         /* To POSITION Lables of Form to RIGHT (all the way to the right)  */
}



/* BE CAREFUL HERE! if DIV has a CLASS......REPLACE 'div' with CLASS NAME */
/* #contact > div.contactRows > div.rightContent > div > form > div >  */

/* #contact > div.contactRows > div.rightContent > div > form > div:nth-child(2) > div:nth-child(1) > input[type=text] */

#contactMain > div.contactRows > div.rightContent > div > form > div > div > input {
  /* border-top: none;
  border-left: none;
  border-right: none; */
  border-bottom: 1px solid white;
  background-color: #1e1e1e;
}

#contactMain > div > div.rightContent > div > form > div:nth-child(4) > div > textarea {
  /* border-top: none;
  border-left: none;
  border-right: none; */
  border-bottom: 1px solid white;
  background-color: #1e1e1e;
}

div > input { /*[type=text]*/ /*GLOBAL*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  /* background-color: #1e1e1e; */
}
/* #contact > div.contactRows > div.rightContent > div > form > div >  */
div > textarea {              /*GLOBAL*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  /* background-color: #1e1e1e; */
}


/* BUTTON FOR MESSAGE */
form > div > button { /* #contact > div.contactRows > div.rightContent > div > */
  color: black;
  background-color: white;
  width: 100%;
  border-color:white;
}

#contactMain > div > div.rightContent > div > form > div:nth-child(5) > button {
  color: black;
  background-color: white;
  width: 100%;
  border-color:white;
}

/* CONTACT */

.contactImage {
  background-image: url(images/Interior.jpg);
  background-position: center;
  background-size: cover;
  height: 30em;
  margin: 0 0 7em 0;
}




    
    












/* About Me Section */
.mainPhotoAboutMe {
  background-image: url(images/mainPhoto1.jpg);
  background-size: cover;
  height: 20em;
  background-position: center;
  
}


#aboutMain {
  text-align: center;
  margin: 0px 40px 0px 40px;

}



/* MIX photo section in ABOUT ME PAGE */

.fAndEMixTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.featurePic {
  background-image: url(images/Interior.jpg);
  background-size: cover;
  height: 35em;
  background-position: center;
}

.featuredColoredPic {
  background-image: url(images/fAndEMix.jpg);
  background-size: cover;
  height: 35em;
  background-position: center;
}




.fAndEMixBottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}


#getFreeQuote{
  color: white;
  background-color: #1e1e1e;
}

/*GLOBAL BUTTON STYLE used in HOME ABOUT SERVICES*/
.btn-white{
color:black;
background-color: white;
}

/* specialFeatures KITCHEN page */
#speacialFeaturesKitchen{
  background-color: rgb(78, 74, 74);
}


/* specialFeatures ALL SERVICES page */
.fAndEMixTopRowAllServices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fAndEMixBottomRowAllServices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



