/* this makes sure our LOGO DOES NOT squish the SELECTIONS on the right hand side */
.navbar-brand {
  width:50%;
  
}


/* remeber to set an overall body css */

/* BEST PRACTICE. WHAT ELSE SHOULD BE IN BODY? */

/*  font-family: ;
    text-align: ;
    font-size: ; */



/* 1st section w/ main  photo */

.mainPhoto1 {
  background-image: url(images/mainPhoto1.jpg);
  height: 80em; /* without height, image does not appear*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 1st section w/ main  photo */
/* Section with second main photo */

.moreAboutUsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.moreAboutUs-img-cont img {
  width:100%;
  object-fit: cover;
}

/* Section with second main photo */
/* Section for Premiere Choice features */

.premierChoiceFeaturesRow {
  /* This choice focuses on flow */

  display:flex;
  justify-content: space-between;

  /* This choice focuses on placement */
  /* display:grid;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem; */
 
}

/* Section for Premiere Choice features */
/* Services Sections */

.servicesRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.servicesList {
  background-image:  url(images/Interior.jpg); 
  background-size: cover;
  height: 35em;
  background-position: center;
}

/* Services Sections */
/* Reviews Section */

.reviewsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

/* Reviews Section */
/* Contact Section */
.contactRows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

/* Contact Section */

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}


/* About Me Section */
.mainPhotoAboutMe {
  background-image: url(images/mainPhoto1.jpg);
  background-size: cover;
  height: 20em;
  background-position: center;
  
}



/* MIX photo section in ABOUT ME PAGE */

.fAndEMixTopRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.featurePic {
  background-image: url(images/Interior.jpg);
  background-size: cover;
  height: 35em;
  background-position: center;
}

.featuredColoredPic {
  background-image: url(images/fAndEMix.jpg);
  background-size: cover;
  height: 35em;
  background-position: center;
}




.fAndEMixBottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}




/* specialFeatures KITCHEN page */
#speacialFeaturesKitchen{
  background-color: rgb(78, 74, 74);
}


/* specialFeatures ALL SERVICES page */
.fAndEMixTopRowAllServices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fAndEMixBottomRowAllServices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}